// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//My Colors
$yellow: #FEA116;
$light: #F1F8FF;
$dark: #0F172B;
$darkgreen: #338E3C;
$lightgreen: #8BC34A;
$cream: #FFF59D;
$lime:#DCE775;
